.preloader-wrapper.big {
  top: 25%;
  left: 50%;
  position: fixed;

  width: 300px;
  height: 300px;
}
.logo {
  background-image: url(../images/584d82e4367b6a13e54477c1.png);
  background-size: 70%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50% 15px;
}

h1 {
  line-height: 200%;
  margin: auto auto auto 15px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  font-size: 3.6rem;
}
h1 a {
  color: rgba(234, 125, 241, 1);
  text-transform: uppercase;
  display: block;
  text-align: center;
}

nav ::placeholder {
  color: #999999;
  opacity: 1;
}

.discover-it ::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-artist {
  width: 75%;
  padding: 75px 0 0;
}

div.discover-it {
  position: fixed;
  left: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.tap-target-wave {
  left: 360px !important;
}

.tap-target {
  background: url(../images/Vinyl-PNG-HD-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30% 0;
}

.tap-target-content {
  padding-top: 20px;
  vertical-align: top !important;
  color: #ffffff;
  text-align: right;
}

.add-artist input[type="text"] {
  color: #ffffff;
  padding-right: 18px;
  text-align: right;
}

section {
  position: relative;
  margin-left: calc(100% / 4);
}

#chip-container {
  position: fixed;
  z-index: 997;
  margin: 0 0 200px;
}
.chip,
.chip.refresh-sort:focus {
  color: #555555;
  height: auto;
  background-color: rgba(234, 125, 241, 0.2);
}

#sort {
  margin-bottom: 18px;
}

nav .input-field input:not([type]),
nav .input-field input[type="text"]:not(.browser-default) {
  font-size: 24px;
}

nav {
  background-color: rgba(217, 251, 237, 1);
  padding-bottom: 84px;
}

.navbar-fixed {
  margin: 0 0 36px 0;
}

.hide {
  display: none;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;
  background: linear-gradient(to bottom, #d1ffef 0%, #ffe0d1 100%);
  opacity: 0.95;
}

html {
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #444444;
  /* background: url(../images/858316078.jpg) top center fixed / 66%; */
  padding: 0 0 240px;
}

main {
  padding: 0 24px;
}

summary img {
  width: 100%;
}

.modal img {
  max-height: 350px;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}

summary {
  animation: fadein 3s;
  padding: 12px;
  border: 1px solid #cccc;
  box-shadow: 0 46px 53px -34px rgba(0, 0, 0, 0.18);
}

.temp {
  background-color: rgba(234, 125, 241, 0.3);
}

.perm {
  background-color: rgba(80, 211, 51, 0.3);
}

#chips .chip,
summary div {
  margin: 6px;
}

#sort .chip {
  margin: 6px 36px;
  font-size: 18px;
}

.chip:not(.refresh-sort):focus {
  background-color: #4dd32e;
}

.selected.chip:not(.year-sort):not(.like-sort):not(.refresh-sort):focus {
  background-color: #4dd32e;
  color: yellow;
}
.chip:not(.year-sort):not(.like-sort):not(.refresh-sort):not(.selected):focus,
.chip:hover {
  background-color: unset;
  color: #555555;
}

h6,
.like-it,
.add-it,
section,
.modal {
  text-align: center;
}

ul {
  clear: both;
}

.heart,
summary:not(.temp) .image,
.chip,
.modal i,
.add-it {
  cursor: pointer;
}

summary.temp a,
#sort .chip:focus {
  cursor: default;
}

.year,
.likes {
  font-size: 12px;
}

.albums-header {
  text-transform: uppercase;
  font-size: 12px;
}

.modal {
  outline: none;
  max-width: 100%;
  max-height: 100%;
  width: calc(100% / 3 * 2);
  height: 100%;
  top: 0 !important;
  margin: 0 0 0 calc(100% / 3);
  padding: 50px 0;
}

.navigate i {
  z-index: 999;
  width: 49%;
}
.navigate {
  position: fixed;
  top: 50%;
  width: 100%;
}
.close {
  position: absolute;
  right: 36px;
  top: 36px;
  color: #4dd32e;
}
.chevron-left {
  text-align: left;
}

.chevron-right {
  text-align: right;
}

.modal h6 {
  text-transform: uppercase;
}

.selected:not(.refresh-sort) {
  background-color: #4dd32e;
  color: yellow;
}

nav .material-icons.prefix {
  color: #4dd32e;
}

.btn,
.btn-floating,
.pagination li.active {
  background-color: #4dd32e;
}

.tap-target-wrapper.open .tap-target-wave::after {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.chip .material-icons {
  font-size: 15px;
}

nav form {
  margin-top: 12px;
}

@media only screen and (min-width: 599px) and (max-width: 1000px) {
  nav {
    height: 64px;
    line-height: 64px;
    height: auto;
    padding-bottom: unset;
  }
  #chip-container {
    position: relative;
    margin: 200px 0 0;
  }
}
